

<div class="hero-full-screen">

  <div class="top-content-section">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><img src="http://placehold.it/75x30" alt="logo"></li>
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="middle-content-section">
    <h1>Super Compelling Headline</h1>
    <button class="button large">Blog</button>
    <button class="button large">Media</button>
  </div>

  <div class="bottom-content-section" data-magellan data-threshold="0">
    <a href="#main-content-section"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"/></svg></a>
  </div>

</div>

<div id="main-content-section" data-magellan-target="main-content-section">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quae tenetur eius doloribus vel? Itaque, placeat voluptatibus? Sit soluta accusantium adipisci. Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.

</p>
</div>

<!-- social bar -->

<ul class="sticky-social-bar">
  <li class="social-icon">
    <a href="https://www.facebook.com" target="_blank">
      <i class="fab fa-facebook" aria-hidden="true"></i>
      <span class="social-icon-text">Facebook</span>
    </a>
  </li>
  <li class="social-icon">
    <a href="https://www.twitter.com" target="_blank">
      <i class="fab fa-twitter" aria-hidden="true"></i>
      <span class="social-icon-text">Twitter</span>
    </a>
  </li>
  <li class="social-icon">
    <a href="https:www.linkedin.com" target="_blank">
      <i class="fab fa-linkedin" aria-hidden="true"></i>
      <span class="social-icon-text">Linkedin</span>
    </a>
  </li>
  <li class="social-icon">
    <a href="https://www.youtube.com" target="_blank">
      <i class="fab fa-youtube" aria-hidden="true"></i>
      <span class="social-icon-text">Youtube</span>
    </a>
  </li>
  <li class="social-icon">
    <a href="https://www.instagram.com" target="_blank">
      <i class="fab fa-instagram" aria-hidden="true"></i>
      <span class="social-icon-text">Instagram</span>
    </a>
  </li>
  <li class="social-icon">
    <a href="https://www.pinterest.com" target="_blank">
      <i class="fab fa-pinterest-p" aria-hidden="true"></i>
      <span class="social-icon-text">Pinterest</span>
    </a>
  </li>
</ul>
